@import url(http://fonts.googleapis.com/css?family=Give+You+Glory|Dancing+Script|Satisfy|Kranky|Mountains+of+Christmas|Miltonian+Tattoo);
@import url(http://fonts.googleapis.com/css?family=Ribeye|Chela+One|Rozha+One|Antic+Didone|Purple+Purse|Gorditas|Miltonian);



/*navbar styling*/

.navbar{
  /*border-top: 5px solid #FBDC89;
  border-bottom: 5px solid #FBDC89;
  margin-bottom: 0px;*/
  height: 100px;
  padding: 20px;
}

.navbar-header img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin: 0px;
}

.navbar > .container .navbar-brand{
  font-size: 55px;
  font-family: 'Miltonian', cursive;
  color: #C4D96B;
}

.navbar-default .navbar-nav > li > a {
  font-family: 'Purple Purse', cursive;
  font-size: 20px;
}

.navbar-default .navbar-nav .home {
  color: #A8D8C0 !important;
}

.navbar-default .navbar-nav .children {
  color: #8BC0CE !important;
}

.navbar-default .navbar-nav .logout {
  color: #F8B3B6 !important;
}
#green {
    border: 5px solid #A8D8C0;
    float: left;
    width: 163px !important;
}

#blue {
    border: 5px solid #8BC0CE;
    float: left;
    width: 163px !important;
}

#pink {
    border: 5px solid #F8B3B6;
    float: left;
    width: 163px !important;
}

#orange {
    border: 5px solid #FFC48C;
    float: left;
    width: 163px !important;
}
#yellow {
    border: 5px solid #FBFCD0;
    float: left;
    width: 163px !important;
}
#purple {
    border: 5px solid #EFE3F3;
    float: left;
    width: 163px !important;
}
#lime {
    border: 5px solid #C4D96B;
    float: left;
    width: 163px !important;
}

/*buttons*/
.editPhoto {
  margin: 20px;
}

/*images*/

div.child{
  background-color: #f6f6f6;
  width: 250px;
  height: 250px;
  margin: 20px;
  padding-top: 20px;
  border-radius: 150px;
  text-align: center;
  display: inline-block;
  -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}

div.child img{
  border-radius: 50px;
  height: 100px;
  width: 100px;
}

img.childImg {
  margin: 20px;
}

/*child show page*/
.childInfo {
  margin-left: 20px;
  margin-bottom: 10px;
  color: #02779E;
  text-align: center;
}


/*modal styling*/

.modal-body{
  background-color: #f6f6f6;
}

.modal-header{
  background-color: lightgrey;
  color: #f6f6f6;
  text-align: center;
}

.modal-header .close{
  color: #f6f6f6;
}

.table-bordered{
  margin: 0;
}

/*background images/colors*/

html, body {
  height:100%;
  width: 100%;
}

.container {
  height: 100%;
  width:100%;
  padding:0;
  margin:0;
}

div[ng-view] {
  height:100%;
}

.fullHeight {
  height: 100%;
}

.whiteBackground {
  background-color: #f8f8f8;
  margin: 0px;
  background-size: cover;
}

.body {
  background-image: url('/img/feet.jpg');
  background-size: cover;
  color: #D26EB0;
  padding-top: 100px;
}


/*photo styling*/

#editPhoto {
  border: 1px solid black;
  width: 100%;
  padding: 20px;
}

#editPhoto input[type='file'] {
    margin: 0px auto;
}

#photo_file {
  width: 250px;
  border:1px solid black;
  text-align: center;
}

/*misc*/

.glow {
   -webkit-stroke-width: 5.3px;
   -webkit-stroke-color: #FFFFFF;
   -webkit-fill-color: #FFFFFF;
   text-shadow: 1px 0px 20px white;
   -webkit-transition: width 0.3s; /*Safari & Chrome*/
   transition: width 0.3s;
   -moz-transition: width 0.3s; /* Firefox 4 */
   -o-transition: width 0.3s; /* Opera */
   text-align: center;
   font-family: 'Purple Purse', cursive;
   color: #f8f8f8;
}
.shroud {
  height: 50%;
  width: 100%;
  padding-top: 60px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top:200px;
  bottom:0;
  left:0;
  z-index: 1;
}


p{
  font-size: 20px;
}

.btn {
  background-color: #C4D96B !important;
  font-family: 'Antic Didone', serif;
}

table{
  background-color: #f6f6f6;
}
/* login /register */
img.login {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin: 0px;
  margin-bottom: 10px;
}
.password {
  font-size: 10px;
}
.login-title {
  font-family: 'Miltonian', cursive;
  color: #C4D96B;
}

.login-color {
  color: darkgrey;
}
input::-webkit-input-placeholder {
   color: #D26EB0 !important;
   font-family: 'Antic Didone', serif;
}

input:-moz-placeholder { /* Firefox 18- */
   color: #D26EB0 !important;  
   font-family: 'Antic Didone', serif;
}

input::-moz-placeholder {  /* Firefox 19+ */
   color: #D26EB0 !important;  
   font-family: 'Antic Didone', serif;
}

input:-ms-input-placeholder {  
   color: #D26EB0 !important;  
   font-family: 'Antic Didone', serif;
}
