@import url(http://fonts.googleapis.com/css?family=Give+You+Glory|Dancing+Script|Satisfy|Kranky|Mountains+of+Christmas|Miltonian+Tattoo);
@import url(http://fonts.googleapis.com/css?family=Ribeye|Chela+One|Rozha+One|Antic+Didone|Purple+Purse|Gorditas|Miltonian);



/* NAVBAR */
.navbar {
  height: 100px;
  padding: 20px;
}

.navbar-default {
  background-color: #4C3535;
}

.navbar-header img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin: 0px 10px 0px 10px;
}

.navbar > .container .navbar-brand {
  font-size: 55px;
  font-family: 'Purple Purse', cursive;
  color: #F7F7F7;

}

.navbar-default .navbar-nav > li > a {
  font-family: 'Purple Purse', cursive;
  font-size: 20px;
}

.navbar-default .navbar-nav .home {
  color: #A8D8C0 !important;
}

.navbar-default .navbar-nav .children {
  color: #8BC0CE !important;
}

.navbar-default .navbar-nav .logout {
  color: #F2BDD6 !important;
}
#green {
    border: 5px solid #A8D8C0;
    float: left;
    width: 15vw;
}

#blue {
    border: 5px solid #8BC0CE;
    float: left;
    width: 14vw;
}

#pink {
    border: 5px solid #F8B3B6;
    float: left;
    width: 14vw;
}

#orange {
    border: 5px solid #FFC48C;
    float: left;
    width: 14vw;
}
#yellow {
    border: 5px solid #FBFCD0;
    float: left;
    width: 14vw;
}
#purple {
    border: 5px solid #EFE3F3;
    float: left;
    width: 14vw;
}
#lime {
    border: 5px solid #C4D96B;
    float: left;
    width: 15vw;
}


/* CAPITALIZATION */
.cap {
  text-transform: capitalize;
}


/* MISC */
h4 {
  font-size: 16px;
}


/* BACKGROUND IMAGES-COLORS */
html, body {
  height:100%;
  width: 100%;
}

.container {
  height: 100%;
  width:100%;
  padding:0;
  margin:0;
}

div[ng-view] {
  height:100%;
}

.full-height {
  background-size: cover;
  height:100%; 
  overflow: auto;
}

.body {
  padding-top: 100px;
}


/* HOME PAGE */
.glow {
   /*-webkit-stroke-width: 5.3px;
   -webkit-stroke-color: #FFFFFF;
   -webkit-fill-color: #FFFFFF;
   text-shadow: 1px 0px 20px white;
   -webkit-transition: width 0.3s; /*Safari & Chrome*/
   /*transition: width 0.3s;
   -moz-transition: width 0.3s; /* Firefox 4 */
  /* -o-transition: width 0.3s; /* Opera */
   text-align: center;
   color: #f8f8f8;
   font-family: 'Antic Didone, serif';
}

.shroud {
  height: 40%;
  width: 100%;
  padding-top: 60px;
  background-color: rgba(76, 53, 53, 0.65);
  position: absolute;
  top: 280px;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.welcome {
  font-size: 25px;
}


/*MODAL-FORM STYLING*/
.modal-body {
  background-color: #f6f6f6;
}

.modal-header {
  background-color: lightgrey;
  color: #f6f6f6;
  text-align: center;
}

.modal-header {
  color: #f6f6f6;
}

input::-webkit-input-placeholder {
   color: #D26EB0 !important;
   font-family: 'Antic Didone', serif;
}

input:-moz-placeholder { /* Firefox 18- */
   color: #D26EB0 !important;  
   font-family: 'Antic Didone', serif;
}

input::-moz-placeholder {  /* Firefox 19+ */
   color: #D26EB0 !important;  
   font-family: 'Antic Didone', serif;
}

input:-ms-input-placeholder {  
   color: #D26EB0 !important;  
   font-family: 'Antic Didone', serif;
}

.form-control {
   color: #D26EB0 !important;  
   font-family: 'Antic Didone', serif;
}

.control-label {
   color: #D26EB0 !important;  
   font-family: 'Antic Didone', serif;
}


/* LOGIN-REGISTER */
img.login {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin: 0px;
  margin-bottom: 10px;
}

.password {
  font-size: 10px;
}

.login-title {
  font-family: 'Purple Purse', cursive;
  color: #4C3535;
}

.login-color {
  color: darkgrey;
}


