<!DOCTYPE html>
<html lang="en-US" ng-app="mommyApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mommy Business</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href="http://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/child-page.css">
    <link rel="stylesheet" href="css/children-page.css">
  </head>
  <body class="body">
  <div style="position:fixed; z-index:1;">
    <div id="green"></div>
    <div id="blue"></div>
    <div id="yellow"></div>
    <div id="pink"></div>
    <div id="purple"></div>
    <div id="orange"></div>
    <div id="lime"></div>
  </div>
    <div role="navigation" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button data-toggle="collapse" data-target="#bs-navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span></button><a href="/#/" class="navbar-brand">mommy<span><img class="nav-img" src="../img/heart.png"/></span>business</a>
        </div>
          <div id="bs-navbar-collapse" class="collapse navbar-collapse">
            <ul ng-hide="user" class="nav navbar-nav navbar-right">
              <li><a class="home" href="/#/">Home</a></li>
              <li><a data-toggle="modal" data-target="#register" class="children" href="">Register</a></li>
              <li><a data-toggle="modal" data-target="#login" class="login logout" href="">Login</a></li>
            </ul>
            <ul ng-show="user" class="nav navbar-nav navbar-right">
              <li><a class="children" href="/#/children">Children</a></li>
              <li><a class="logout" href="/#/logout">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    <div class="container">
      <div ng-view>
      </div>


      <!-- Login Modal -->
      <div ng-controller="LoginController as login" class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:350px;">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close x" data-dismiss="modal" aria-label="Close"><span class="x" aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="loginLabel"></h4>
            </div>
            <div class="modal-body" style="text-align:center;">
              <h4 class="login-title">mommy business</h4>
              <img class="login" src="../img/dj.jpg"/>
              <form name="loginForm" ng-submit="login.login()" novalidate>
                <div class="form-group" ng-class="{'has-error': loginForm.$dirty && !login.email}">
                  <input class="form-control" type="email" ng-model="login.email" placeholder="enter email" required>
                </div>
                <div class="form-group" ng-class="{'has-error': registerForm.$dirty && !login.password}">
                  <input class="form-control" type="password" ng-model="login.password" placeholder="enter password" required>
                </div>
              </form>
              <button data-dismiss="modal" type="button" class="btn btn-primary chart-submit-btn" ng-click="login.login()">login</button>
              <div>
                <a class="link password" ng-class="{disabled: !login.email}" ng-click="login.forgotPassword()">(forgot password)</a>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>

      <!-- Register Modal -->
      <div ng-controller="LoginController as login" class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="registerLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:350px;">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close x" data-dismiss="modal" aria-label="Close"><span class="x" aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="registerLabel"></h4>
            </div>
            <div class="modal-body" style="text-align:center;">
              <h4 class="login-title">mommy business</h4>
              <img class="login" src="../img/dj.jpg"/>
              <form name="registerForm" ng-submit="login.register()" novalidate>
                <div class="form-group" ng-class="{'has-error': registerForm.$dirty && !login.email}">
                  <input class="form-control" type="email" ng-model="login.email" placeholder="enter email"required>
                </div>
                <div class="form-group" ng-class="{'has-error': registerForm.$dirty && !login.password}">
                  <input class="form-control" type="password" ng-model="login.password" placeholder="enter password" required>
                </div>
              </form>
              <button data-dismiss="modal" type="button" class="btn btn-primary" ng-click="login.register()">Join mommy business!!</button>
            </div>  
          </div>
        </div>
      </div>
    </div>

      <!-- Change Password Modal -->
     <!-- <div ng-controller="ChangePasswordController as changepw" class="modal fade" aria-hidden="true" id="pswd" tabindex="-1" role="dialog" aria-labelledby="pswdLabel">
        <div class="modal-dialog" style="width:350px;">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" data-dismiss="modal" class="close" aria-label="close" ng-click="show.cancelForm()"><span class="close" aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" style="text-align:center;">
              <h4 class="login-title">mommy business</h4>
              <img class="login" src="../img/dj.jpg"/>
              <form name="changePasswordForm" ng-submit="changepw.changePassword()" novalidate>
                <div class="form-group" ng-class="{'has-error': changePasswordForm.$dirty && !changepw.oldPassword}">
                  <label>temporary password</label>
                  <input class="form-control" type="password" ng-model="changepw.oldPassword" required>
                </div>
                <div class="form-group" ng-class="{'has-error': changePasswordForm.$dirty && !changepw.newPassword}">
                  <label>new password</label>
                  <input class="form-control" type="password" ng-model="changepw.newPassword" required>
                </div>
                <div class="form-group" ng-class="{'has-error': changePasswordForm.$dirty && !changepw.newPasswordAgain || changepw.newPassword !== changepw.newPasswordAgain}">
                  <label>new password again</label>
                  <input class="form-control" type="password" ng-model="changepw.newPasswordAgain" required>
                </div>
              </form>
              <button data-dismiss="modal" type="button" class="btn btn-primary" value="change password" ng-class="{disabled: changePasswordForm.$invalid || changepw.newPassword !== changepw.newPasswordAgain}" ng-click="changepw.changePassword()"> change password</button>
            </div>
          </div>
        </div>
      </div>-->


    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/angular-base64-upload/dist/angular-base64-upload.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/main.config.js"></script>
    <script src="js/constants.js"></script>
    <script src="js/account/account.factory.js"></script>
    <script src="js/account/account.ctrl.js"></script>
    <script src="js/child/child.config.js"></script>
    <script src="js/child/child.factory.js"></script>
    <script src="js/child/child.ctrl.js"></script>
  </body>

</html>
