<form name="addChildForm" ng-submit="addChildForm.$valid && child.addChild()" novalidate>
  <div class="form-group" ng-class="{'has-error': !child.child.name}">
    <label class="control-label">name</label>
    <input class="form-control" type="text" ng-model="child.newChild.name" required>
  </div>
  <div class="form-group" ng-class="{'has-error': !child.child.dob}">
    <label class="control-label">date of birth</label>
    <input class="form-control" type="date" ng-model="child.newChild.dob" required>
  </div>
  <div class="form-group" ng-class="{'has-error': !child.child.tob}">
    <label class="control-label">time of birth</label>
    <input class="form-control" type="time" ng-model="child.newChild.tob">
  </div>
  <label class="control-label">weight at birth</label>
  <div class="form-group" ng-class="{'has-error': !child.child.pab}">
    <label class="control-label">lbs</label>
    <input class="form-control" type="number" ng-model="child.newChild.pab">
  </div>
  <div class="form-group" ng-class="{'has-error': !child.child.oab}">
    <label class="control-label">oz</label>
    <input class="form-control" type="number" ng-model="child.newChild.oab">
  </div>
  <div class="form-group" ng-class="{'has-error': !child.child.lab}">
    <label class="control-label">length at birth</label>
    <input class="form-control" type="number" ng-model="child.newChild.lab">
  </div>
  <input type="submit" value="add child" ng-disabled="addChildForm.$invalid">
</form>
