<form name="addMilestoneForm" ng-submit="addMilestoneForm.$valid && show.addMilestone()" novalidate>
  <div class="form-group" ng-class="{'has-error': !show.milestone.date}">
    <label class="control-label">date</label>
    <input class="form-control" type="text" ng-model="show.newMilestone.date" required bs-datepicker>
  </div>
  <div class="form-group" ng-class="{'has-error': !show.milestone.milestone}">
    <label class="control-label">milestone</label>
    <input class="form-control" type="text" ng-model="show.newMilestone.milestone">
  </div>
  <input type="submit" value="add milestone" ng-disabled="addMilestoneForm.$invalid">
</form>
