<div class="modal-fade" aria-hidden="true" id="milestone" tabindex="-1" role="dialog" aria-labelledby="milestoneLabel">
  <div class="modal-dialog" style="width:350px;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="close" ng-click="show.cancelForm()"><span class="close" aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body" style="text-align:center;">
          <h4 class="login-title">mommy business</h4>
          <img class="login" src="../img/dj.jpg"/>
          <form name="addMilestoneForm" ng-submit="addMilestoneForm.$valid && show.addMilestone()" novalidate>
            <div class="form-group" ng-class="{'has-error': !show.milestone.date}">
              <label class="control-label">date</label>
              <input class="form-control" type="text" ng-model="show.newMilestone.date" required bs-datepicker>
            </div>
            <div class="form-group" ng-class="{'has-error': !show.milestone.milestone}">
              <label class="control-label">milestone</label>
              <input class="form-control" type="text" ng-model="show.newMilestone.milestone">
            </div>
              <input type="submit" value="save changes" ng-disabled="addMilestoneForm.$invalid" data-dismiss="modal">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
