<div class="row" style="background-image: url(http://www.takepart.com/sites/default/files/BabyFeet.jpg); background-size:cover; height:100%; color: #D26EB0;">
  <div class="col-xs-5"></div>
  <div class="col-xs-2">
    <div class="modal-fade" aria-hidden="true" id="changepw" tabindex="-1" role="dialog" aria-labelledby="changepwLabel">
      <div class="modal-dialog" style="width:350px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" class="close" aria-label="close" ng-click="show.cancelForm()"><span class="close" aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body" style="text-align:center;">
            <h4 class="login-title">mommy business</h4>
            <img class="login" src="../img/dj.jpg"/>
            <form name="changePasswordForm" ng-submit="changepw.changePassword()" novalidate>
              <div class="form-group" ng-class="{'has-error': changePasswordForm.$dirty && !changepw.oldPassword}">
                <label>old password</label>
                <input class="form-control" type="password" ng-model="changepw.oldPassword" required>
              </div>
              <div class="form-group" ng-class="{'has-error': changePasswordForm.$dirty && !changepw.newPassword}">
                <label>new password</label>
                <input class="form-control" type="password" ng-model="changepw.newPassword" required>
              </div>
              <div class="form-group" ng-class="{'has-error': changePasswordForm.$dirty && !changepw.newPasswordAgain || changepw.newPassword !== changepw.newPasswordAgain}">
                <label>new password again</label>
                <input class="form-control" type="password" ng-model="changepw.newPasswordAgain" required>
              </div>
              <input class="chart-submit-btn" type="submit" value="change password" ng-disabled="changePasswordForm.$invalid || changepw.newPassword !== changepw.newPasswordAgain" data-dismiss="modal">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  <div class="col-xs-5"></div>
</div>

