<h1>{{show.child.name}}</h1>

<form>
  <input type="file" ng-model="show.photo" base-sixty-four-input>
</form>
<img ng-show="show.photo" src="data:image/png;base64,{{show.photo.base64}}" style="width: 150px;">
<a ng-show="show.photo" href="" ng-click="show.savePhoto()">save photo</a>

<img src="data:image/png;base64,{{show.child.photo}}" style="width: 150px;">

<h4>Growth Chart</h4>
<table class="table table-bordered">
  <thead>
    <th></th>
    <th>date</th>
    <th>height</th>
    <th>weight</th>
    <th>head circumference</th>
  </thead>
  <tr ng-repeat="(growthId, growth) in show.growths">
    <td>
      <button ng-click="show.deleteGrowth(growthId)">x</button>
    </td>
    <td>{{growth.date | date:"EEE, MMM dd, yyyy"}}</td>
    <td>{{growth.feet}}' {{growth.inches}}"</td>
    <td>{{growth.pounds}}lbs {{growth.ounces}}oz</td>
    <td>{{growth.head}}</td>
    <td class="link">
      <a class="btn btn-primary" href="/#/children/{{show.childId}}/growths/{{growthId}}/edit">edit</a>
    </td>
  </tr>
</table>
<div>
  <a class="btn btn-primary" href="/#/children/{{show.childId}}/growths/new">add growth</a>
</div>
<h4>Milestone Chart</h4>
<table class="table table-bordered">
  <thead>
    <th>date</th>
    <th>milestone</th>
  </thead>
  <tr ng-repeat="(milestoneId, milestone) in show.milestones">
    <td>{{milestone.date | date:"EEE, MMM dd, yyyy"}}</td>
    <td>{{milestone.milestone}}</td>
    <td class="link">
      <a class="btn btn-primary" href="/#/children/{{show.childId}}/milestones/{{milestoneId}}/edit">edit</a>
      <button ng-click="show.deleteMilestone(milestoneId)">x</button>
    </td>
  </tr>
</table>
<div>
  <a class="btn btn-primary" href="/#/children/{{show.childId}}/milestones/new">add milestone</a>
</div>
<h4>Dr Appointments</h4>
<table class="table table-bordered">
  <thead>
    <th>date</th>
    <th>time</th>
    <th>doctor</th>
  </thead>
  <tr ng-repeat="(apptId, appt) in show.appts">
    <td>{{appt.date | date:"EEE, MMM dd, yyyy"}}</td>
    <td>{{appt.time | date: "hh:mm a"}}</td>
    <td>{{appt.doctor}}</td>
    <td>
      <a class="btn btn-primary" href="/#/children/{{show.childId}}/appointments/{{apptId}}/edit">edit</a>
      <button ng-click="show.deleteAppt(apptId)">x</button>
    </td>
  </tr>
</table>
<div>
  <a class="btn btn-primary" href="/#/children/{{show.childId}}/appointments/new">add appointment</a>
</div>

