<div class="row" style="background-color:#FCF9F9;">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-4">
        <img class="childImg" src="data:image/png;base64,{{show.child.photo}}" style="width: 150px;">
      </div>
      <div class="col-xs-2">
        <!--<h1 class="childInfo" style="font-size:30px;">{{show.child.name}}</h1>
        <h4 class="childInfo" ng-hide="show.child.age.years < 1">is {{show.child.age.years}} year(s) old</h4>
        <h4 class="childInfo" ng-hide="show.child.age.years >= 1">is {{show.child.age.months}} month(s) old</h4>-->
      </div>
      <div class="col-xs-5" id="stretch">
        <h4 class="childInfo">{{show.child.name}}'s birth information</h4>
        <h5 class="childInfo">born on: {{show.child.dob | date:"MM-dd-yyyy"}}</h5>
        <h5 class="childInfo">born at: {{show.child.tob | date:"shortTime"}}</h5>
        <h5 class="childInfo">length was: {{show.child.lab}}</h5>
        <h5 class="childInfo">weight was: {{show.child.pab}}lbs{{show.child.oab}}oz</h5>
        <h5 class="childInfo" ng-hide="show.child.age.years < 1">today {{show.child.name}} is {{show.child.age.years}} year(s) old</h5>
        <h5 class="childInfo" ng-hide="show.child.age.years >= 1">today {{show.child.name}} is {{show.child.age.months}} month(s) old</h5>
      </div>
      <div class="col-xs-1"></div>
    </div> 
    <div class="row">
      <div class="col-xs-6">
        <button ng-show="show.child.photo" type="button" class="btn btn-primary editPhoto" data-toggle="modal" data-target="#photoModal">Edit Photo</button>
        <button ng-hide="show.child.photo" type="button" class="btn btn-primary editPhoto" data-toggle="modal" data-target="#photoModal">Add Photo</button>
      </div>
      <div class="col-xs-6"></div>
    </div>
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-5">
        <h4>Growth Chart</h4>
        <table class="table table-bordered">
          <thead>
            <th></th>
            <th>date</th>
            <th>height</th>
            <th>weight</th>
            <th>head circumference</th>
            <th></th>
          </thead>
          <tr ng-repeat="(growthId, growth) in show.growths">
            <td>
              <button ng-click="show.deleteGrowth(growthId)">x</button>
            </td>
            <td>{{growth.date | date:"EEE, MMM dd, yyyy"}}</td>
            <td>{{growth.feet}}' {{growth.inches}}"</td>
            <td>{{growth.pounds}}lbs {{growth.ounces}}oz</td>
            <td>{{growth.head}}</td>
            <td class="link">
              <a class="btn btn-primary" href="/#/children/{{show.childId}}/growths/{{growthId}}/edit">edit</a>
            </td>
          </tr>
        </table>
        <div>
          <a class="btn btn-primary" href="/#/children/{{show.childId}}/growths/new">add growth</a>
        </div>
      </div>
      <div class="col-xs-5">
        <h4>Milestone Chart</h4>
        <table class="table table-bordered">
          <thead>
            <th></th>
            <th>date</th>
            <th>milestone</th>
            <th></th>
          </thead>
          <tr ng-repeat="(milestoneId, milestone) in show.milestones">
            <td>
              <button ng-click="show.deleteMilestone(milestoneId)">x</button>
            </td>
            <td>{{milestone.date | date:"EEE, MMM dd, yyyy"}}</td>
            <td>{{milestone.milestone}}</td>
            <td class="link">
              <a class="btn btn-primary" href="/#/children/{{show.childId}}/milestones/{{milestoneId}}/edit">edit</a>
            </td>
          </tr>
        </table>
        <div>
          <a class="btn btn-primary" href="/#/children/{{show.childId}}/milestones/new">add milestone</a>
        </div>
      </div>
      <div class="col-xs-1"></div>
    </div>
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-4">
        <h4>Dr Appointments</h4>
        <table class="table table-bordered">
          <thead>
            <th></th>
            <th>date</th>
            <th>time</th>
            <th>doctor</th>
            <th></th>
          </thead>
          <tr ng-repeat="(apptId, appt) in show.appts">
            <td>
              <button ng-click="show.deleteAppt(apptId)">x</button>
            </td>
            <td>{{appt.date | date:"EEE, MMM dd, yyyy"}}</td>
            <td>{{appt.time | date: "hh:mm a"}}</td>
            <td>{{appt.doctor}}</td>
            <td>
              <a class="btn btn-primary" href="/#/children/{{show.childId}}/appointments/{{apptId}}/edit">edit</a>
            </td>
          </tr>
        </table>
        <div>
          <a class="btn btn-primary" href="/#/children/{{show.childId}}/appointments/new">add appointment</a>
        </div>
      </div>
    <div class="col-xs-2"></div>
    <div class="col-xs-4">
    <h1>medicine table going here</h2>
    </div>
  </div>  
</div>

    <!--Photo Modal-->
<div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="photoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="photoModalLabel">Edit a Photo</h4>
      </div>
      <div class="modal-body" style="text-align:center;">
        <h2>Select your photo...</h2>
        <form id="editPhoto">
          <input type="file" ng-model="show.photo" base-sixty-four-input>
        </form>
        <img id="photo_file" ng-show="show.photo" src="data:image/png;base64,{{show.photo.base64}}" style="width: 150px; border-radius:3px;">
        <a ng-show="show.photo" href="" data-dismiss="modal" ng-click="show.savePhoto()">save photo</a>
      </div>
    </div>
  </div>
</div>
