<div class="row children-page-background" id="grad">
  <div class="col-xs-12">
    <h4 class="my-children">My Children</h4>
    <div>
      <div type="button" class="btn btn-default add-child-icon-btn" data-toggle="modal" data-target="#addChildModal"><span class="glyphicon glyphicon-plus glyph"></span></div>
  </div>
  <div class="polaroid" ng-repeat="(childId, kid) in child.children">
    <img class="pol" ng-hide="kid.photo" src="/img/baby.jpg">
    <img class="pol" ng-show="kid.photo" src="data:image/png;base64,{{kid.photo}}">
    <h4 class="cap">{{kid.name}}</h4>
    <a class="btn btn-primary look-btn center-block" href="/#/children/{{childId}}">add details</a>
    <div>
      <div ng-click="child.deleteKid(childId)"><span style="padding-top:10px;" class="glyphicon glyphicon-trash trash"></span></div>
    </div>
  </div>
  <div class="polaroid" ng-hide="child.children">
    <img class="pol" src="/img/baby.jpg">
    <h4>"Example"</h4>
  </div>
    <p class="getting-started" ng-hide="child.children">Getting Started</p>
    <p class="instructions" ng-hide="child.children">Start by adding your child(ren) on this page. Once you add a child, you will be able to add details like growth records, milestones, doctor appointments, medicine history, doctor info and vaccination records.</p>
  </div>
</div>

<!--Add Child Modal-->
<div ng-controller="ChildController as child" class="modal fade" id="addChildModal" tabindex="-1" role="dialog" aria-labelledby="addChildLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:350px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addChildLabel"></h4>
      </div>
      <div class="modal-body" style="text-align:center;">
        <h4 class="login-title">mommy business</h4>
        <img class="login" src="../img/dj.jpg"/>
        <form name="addChildForm" ng-click="addChildForm.$valid && child.addChild()" novalidate>
          <div class="form-group" ng-class="{'has-error': !child.child.name}">
            <label class="control-label">name</label>
            <input class="form-control" type="text" ng-model="child.newChild.name" required>
          </div>
          <div class="form-group" ng-class="{'has-error': !child.child.dob}">
            <label class="control-label">date of birth</label>
            <input class="form-control" type="date" ng-model="child.newChild.dob" required>
          </div>
          <div class="form-group" ng-class="{'has-error': !child.child.tob}">
            <label class="control-label">time of birth</label>
            <input class="form-control" type="time" ng-model="child.newChild.tob">
          </div>
          <label>weight at birth</label>
          <div class="form-group" ng-class="{'has-error': !child.child.pab}">
            <label class="control-label" style="color:darkgrey;">lbs</label>
            <input class="form-control" type="number" ng-model="child.newChild.pab">
          </div>
          <div class="form-group" ng-class="{'has-error': !child.child.oab}">
            <label class="control-label" style="color:darkgrey;">oz</label>
            <input class="form-control" type="number" ng-model="child.newChild.oab">
          </div>
          <div class="form-group" ng-class="{'has-error': !child.child.lab}">
            <label class="control-label">length at birth</label>
            <input class="form-control" type="number" ng-model="child.newChild.lab">
          </div>
        </form>
        <button class="btn btn-primary add-child-btn" type="button" data-dismiss="modal" ng-click="child.addChild()">add child</button>
      </div>
    </div>
  </div>
</div>
