<div class="row fullHeight" style="background-image: url(http://live-wallpaper.net/ipad/img/app/b/e/beach_wallpaper_iphone_68f99836b7c4dba8c530971792cd1b41_raw.jpg); background-size: cover;">
  <div class="col-xs-12 fullHeight" style="background-color: rgba(0, 0, 0, 0.3);">
  <div class="child" ng-repeat="(childId, kid) in child.children">
    <img ng-hide="kid.photo" src="/img/baby.jpg">
    <img class="childrenImages" ng-show="kid.photo" src="data:image/png;base64,{{kid.photo}}">
    <h4>{{kid.name}}</h4>
    <h4>{{kid.dob | date:"MM-dd-yyyy"}}</h4>
    <h4><span ng-hide="kid.age.years < 1">{{kid.age.years}} year(s)old</span><span ng-hide="kid.age.years >= 1">{{kid.age.months}} month(s)old</span></h4>
    <a class="btn btn-primary" href="/#/children/{{childId}}">Look at {{kid.name}}</a>
  </div>
  <div>
    <a class="btn btn-primary" href="/#/new">add a child</a>
  </div>
  </div>
</div>
