<h1>{{show.child.name}}</h1>

<h4>Growth Chart</h4>
<table class="table table-bordered">
  <thead>
    <th>date</th>
    <th>height</th>
    <th>weight</th>
    <th>head circumference</th>
  </thead>
  <tr>
    <td>{{child.growth.date}}</td>
    <td>{{child.growth.height}}</td>
    <td>{{child.growth.weight}}</td>
    <td>{{child.growth.head}}</td>
  </tr>
</table>
<h4>Milestone Chart</h4>
<table class="table table-bordered">
  <thead>
    <th>date</th>
    <th>milestone</th>
  </thead>
  <tr>
    <td>{{child.milestone.date}}</td>
    <td>{{child.milestone.milestone}}</td>
  </tr>
</table>
<h4>Dr Appointments</h4>
<table class="table table-bordered">
  <thead>
    <th>date</th>
    <th>time</th>
    <th>doctor</th>
  </thead>
  <tr ng-repeat="(apptId, appt) in show.appts">
    <td>{{appt.date | date:"EEE, MMM dd, yyyy"}}</td>
    <td>{{appt.time | date: "hh:mm a"}}</td>
    <td>{{appt.doctor}}</td>
    <td>
      <a class="btn btn-primary" href="/#/children/{{show.childId}}/appointments/{{apptId}}/edit">edit</a>
      <button ng-click="child.deleteAppt(apptId)">x</button>
    </td>
  </tr>
</table>
<div>
  <a class="btn btn-primary" href="/#/children/{{show.childId}}/appointments/new">add appointment</a>
</div>

