<form name="loginForm" ng-submit="login.login()" novalidate>
  <div class="form-group" ng-class="{'has-error': loginForm.$dirty && !login.email}">
    <label>email address</label>
    <input class="form-control" type="email" ng-model="login.email" required>
  </div>
  <div class="form-group" ng-class="{'has-error': registerForm.$dirty && !login.password}">
    <label>email address</label>
    <input class="form-control" type="password" ng-model="login.password" required>
  </div>
  <input type="submit" class="btn btn-primary" value="login" ng-class="{disabled: loginForm.$invalid}">
  <div class="btn btn-default" ng-class="{disabled: !login.email}" ng-click="login.forgotPassword()">forgot password</div>
</form>
