<form name="registerForm" ng-submit="login.register()" novalidate>
  <div class="form-group" ng-class="{'has-error': registerForm.$dirty && !login.email}">
    <label>email address</label>
    <input class="form-control" type="email" ng-model="login.email" required>
  </div>
  <div class="form-group" ng-class="{'has-error': registerForm.$dirty && !login.password}">
    <label>email address</label>
    <input class="form-control" type="password" ng-model="login.password" required>
  </div>
  <div class="btn btn-default" ng-class="{disabled: registerForm.$invalid}" ng-click="login.register()">register</div>
</form>
